@model StoreFront.DATA.EF.Models.PackageType

@{
    ViewData["Title"] = "Delete " + Model.PackageType1;
}

<h1>@ViewData["Title"]</h1>

<h3 class="text-danger">Are you sure you want to delete this?</h3>
<div>
    <h4>PackageType</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PackageType1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PackageType1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PackageTypeId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to Package Types</a>
    </form>
</div>
