@model StoreFront.DATA.EF.Models.PackageType

@{
    ViewData["Title"] = Model.PackageType1 + " Details";
}

<h1>@ViewData["Title"]</h1>

<div>
   
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PackageType1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PackageType1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PackageTypeId">Edit</a> |
    <a asp-action="Index">Back to Package Type</a>
</div>
